.DS_Store
.idea/
.vscode/
dist/

backend/.gradle/
backend/build/
backend/out/
backend/src/main/resources/application-local.yml

frontend/node_modules/
frontend/dist/
frontend/.yarn/
frontend/.eslintcache
frontend/.env.local
frontend/.env.*.local

*.log
*.tmp
